name: reactive_textfield
version: 1.0.0
description: "A reactive TextField with a value and onValueChanged."
repository: https://github.com/RightBrainPro/reactive_textfield
issue_tracker: https://github.com/RightBrainPro/reactive_textfield/issues

publish_to: https://pub.rightbrain.pro

environment:
  sdk: ^3.9.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
